.Weather {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 10px rgb(165, 137, 141);
  padding: 23px;
}

.Weather button {
  border: 1px solid black;
  border-radius: 4px;
  background: none;
  color: black;
  display: block;
  font-size: 15px;
  margin: 0 auto;
  padding: 8px 20px;
  transition: all 200ms ease-in-out;
}

.Weather button:hover {
  background: black;
  box-shadow: none;
  color: white;
  cursor: pointer;
  opacity: 0.7;
}

.Weather ul {
  margin: 0;
  padding: 0;
  font-size: 20px;
  list-style: none;
}

.Weather li:first-letter {
    text-transform: capitalize;
    display: in-line;
}

.Weather img {
  height: 65px;
  width: 65px;
  margin-right: 20px;
}

.Weather .temperature {
  font-size: 60px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 18px;
  line-height: 1;
  margin-left: 5px;
  position: relative;
  top: -30px;
}